<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

{% verbatim %}
<div class="container">
    <div class="d-flex justify-content-between">
        <div>Data Schemas</div>
        <form action="" method="post">
            <input type="submit" value="New Schema" class="btn btn-primary">
        </form>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Modified</th>
                <th>Title</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody  id="schema_list" v-for="schema in schemas">
            <tr>
                <td>{{ schema.id }}</td>
                <td>Some day</td>
                <td>{{ schema.Name }}</td>
                <td>
                    <div class="d-flex justify-content-between">
                        <a href="#" >Edit schema</a>
                        <a href="#" class="text-danger">Delete</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endverbatim %}

<script src="/static/schema_list.js"></script>
{% endblock %}